*{padding:0;margin:0;}
ul, li {
    list-style-type:none;
    padding:0;
    margin:0;
}
.wrapper a{ color:#fff;}

body{font-family: 'Roboto', sans-serif;color:#545E6C; font-size: 14px; padding: 30px;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;line-height: 1.42857143; color:#fff ;background:#f5f5f5;}
    
.sidebar-wrapper .mr{margin-left: 3px;} 
.wrapper{     background: #42A8C0;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);}
.sidebar-wrapper{  
    background: #42A8C0;
    position: absolute;
    right: 0;
    width: 240px;
    height: 100%;
    min-height: 800px;
    color: #fff;}

.profile-container{
	padding: 30px;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;}

.sidebar-wrapper .profile{border-radius:50%;}
.sidebar-wrapper .container-block{padding:25px;} 
.sidebar-wrapper .profile-container.name{ 
   font-size: 32px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;}

.sidebar-wrapper .container-block{padding:24px;}
.git{ position: absolute;}
   
.list-unstyled{
    padding-left: 0;
    list-style: none;}

ul{ 
    margin-top: 0;
    margin-bottom: 10px;}

.list-unstyled li {margin-bottom:5px;color:#fff ;}
.sidebar-wrapper .contact-container .fa {font: normal normal normal 14px/1 FontAwesome; margin-right: 5px;width: 14px;height:14px;}

.main-wrapper{  
    background: #fff;
    padding: 60px;
    padding-right: 300px;}
.main-wrapper .section-title {   
     text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #2d7788;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;}
.main-wrapper .section{    margin-bottom: 60px;}
.main-wrapper .section-title .fa{    
     width: 15px;
    height: 15px;
    margin-right: 8px;
    display: inline-block;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #2d7788;
    text-align: center;
    padding-top: 8px;
    font-size: 16px;
    position: relative;
    top: -2px;
}
.lr{width: 10px;height:10px;margin-right: 8px;
    display: inline-block;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #fff;
    text-align: center;
    padding-top: 8px;
    font-size: 16px;
    position: relative;
   }
 #pa{position: absolute;} 
 .mr{margin-left:5px;} 
    
.main-wrapper .section p{line-height: 1.5;color:#999;}
.main-wrapper.time{position: absolute;right:304px;color: #97AAC3;}
.main-wrapper .section .company{line-height: 2.5;color: #97AAC3;}
.skillset .level-title{
    font-size: 12px;
    font-weight: 800;
    width: 150px;
    color: #999;

}
.level-bar{ 
    height: 12px;
    background: #eee;
    width: 400px;
    position: absolute;
    right: 307px;
    margin-top: -21px;}
.main-wrapper .level-bar-inner {
    height: 12px;
    background: #97AAC3;
    width: 400px;
    position: absolute;
   /* right: 307px;*/
    margin-top:0px;

    }
.sidebar-wrapper .education-container .time{    color: rgba(255, 255, 255, 0.6);font-weight: 500; margin-bottom: 0px;}
.footer{ padding: 30px;padding-top: 60px;}       
.text-center{text-align: center;}    
 .main-wrapper .level-bar-inner{height: 12px;
       background: #97AAC3;
       position: absolute;
       z-index: 9;}
       #tell{background: url(images/tell.png)no-repeat; width: 110px; height: 30px;margin-left: 14px;margin-top: -27px;display: none;}
     
   
    
    
    